<?xml version="1.0"?>
<appSettings>    
  <!-- Configurações padrão -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
     
     
  <!-- ID da clinica registrada pelo cliente, a mesma será armazenada na sessão da aplicação -->
  <add key="RegisteredClinic" value="EF4946A6-B32D-491A-9A85-3199F3566439"/>   
</appSettings>

