@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/SmartClinic/css")
</head>
<body style="background:#F7F7F7;">
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        <h1>Login</h1>
                        <div>
                            <input type="text" class="form-control" name="Login" placeholder="Login" required />
                        </div>
                        <div>
                            <input type="password" class="form-control" name="Password" placeholder="Senha" required />
                        </div>
                        if (ViewBag.ShowErrorDiv)
                        {
                            <div class="alert alert-danger">
                                <p style="font-size: 14px;">Login e/ou Senha invalido(s)</p>
                            </div>
                        }
                        <div>
                            <input type="submit" value="Logar" class="btn btn-default submit"/>
                            <a class="reset_pass" href="#">Esqueceu a senha?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-plus" style="font-size: 26px;"></i> Smart Clinic</h1>
                                <p>©@DateTime.Today.Year Todos os direitos reservados</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>



